<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnStringDb1" connectionString="Data Source=192.168.20.150;Initial Catalog=NewsRoomDB;Persist Security Info=True;User ID=ASSDeskUser;Password=ASSDeskUser123" />
  </connectionStrings>
  <appSettings>
    <add key="FilesAddress" value="http://192.168.101.11:81/pl/frontend.svc/" />
    <add key="VideoBaseHost" value="http://217.218.67.243/videos/" />
    <add key="ImageBaseHost" value="http://217.218.67.243/images/original/" />
    <add key="ImageSavePath" value="\\192.168.55.177\e$\FILES\Images" />
  </appSettings>
  <system.web>

    <compilation targetFramework="4.0" />
    <httpRuntime maxRequestLength="2147483647" executionTimeout="100000" />
    <customErrors mode="Off" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="AssignmentDesk.Assignment" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="AssignmentDesk.IAssignment" behaviorConfiguration="web"></endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <!--Here is for upload large file:-->
      <webHttpBinding>
        <binding
          maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647"
          maxBufferSize="2147483647" transferMode="Streamed">
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>